# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iml

*.db