 /* Global Styling */
QMainWindow {
    background-color: #8ea19e;
    border-radius: 0px;
}

QDialog {
    border: 3px solid #1B2626;
    background-color: #8EA09F;
}

#popup QLabel {
    color: #1B2626;
    margin-bottom: 10px;
    padding: 15px;
}

#popup QPushButton {
    background-color: transparent;
    color: #1B2626;
    border: 2px solid #1B2626;
    padding: 7px;
    border-radius: 5px;
}

#popup QPushButton:hover {
    background-color: #1B2626;
    color: white;
}

QLabel#header, QLabel#HEADER, QLabel#login_header {
    background-color: #1B2626;
    padding: 5px;
}

/* LOGIN STYLING */
#login_header, #s1_header, #s2_header, #s3_header {
    background-color: #1B2626;
    padding: 5px;
    border-radius: 5px;
}

#login #email_label, #password_label {
    color: #1B2626;
}

#login_btn, #signup_btn, #continue_btn, #confirm_btn, #skip_btn {
    background-color: #1B2626;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 25px;
}

#login_btn:hover, #signup_btn:hover, #continue_btn:hover, #confirm_btn:hover, #skip_btn:hover {
    background-color: #101717;
    padding: 8px 28px;
}

QLabel#signup_link, QLabel#signin_link {
    color: #101717;
    font-weight: bold;
}

QLabel#signup_link:hover, QLabel#signin_link:hover {
    color: #101111;
}

InputEdit QLineEdit, InputEdit QDateEdit {
    background-color: #466061;
    border: 2px solid #101717;
    border-radius: 8px;
    padding: 6px;
    color: white;
    font-size: 15px;
}

InputEdit QLineEdit:focus, InputEdit QDateEdit:focus {
    background-color: #4A5C66;
    border: 2px solid #FFFFFF;
}

QCalendar {
    background-color: white;
}

QListView {
    background-color: white;
    color: #1B2626;
    border: 3px solid #1B2626;
    font: bold 15px 'Arial';
}

QListView::item {
    border-bottom: 3px solid #1B2626;
    padding: 10px;
}


#green_divider {
    background-color: #1B2626;
}
